<%- include('partials/messages') %>
<%- include('partials/header') %>

<div class="jumbotron centered">
    <div class="container">
        
        <h1 class="display-3">COVICT</h1>
        <p class="lead">We Will Win Over COVID-19 </p>
        <hr>
        <a class="btn btn-light btn-lg" href="/users/register" role="button">Signup</a>
        <a class="btn btn-dark btn-lg" href="/users/login" role="button">Login</a>

    </div>
</div>

